<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CostMapper">
  <resultMap id="BaseResultMap" type="domain.Cost">
    <result column="AccountID" jdbcType="INTEGER" property="accountid" />
    <result column="Balance" jdbcType="REAL" property="balance" />
    <result column="CostType" jdbcType="INTEGER" property="costtype" />
    <result column="Amount" jdbcType="REAL" property="amount" />
    <result column="CostDes" jdbcType="VARCHAR" property="costdes" />
    <result column="CostDate" jdbcType="TIMESTAMP" property="costdate" />
  </resultMap>

  <sql id="Base_Column_List">
    AccountID, Balance, CostType, Amount, CostDes, CostDate
  </sql>

  <select id="selectByRoom" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cost
    where AccountID = #{accountid,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="domain.Cost">
    insert into cost (AccountID, Balance, CostType, 
      Amount, CostDes, CostDate
      )
    values (#{accountid,jdbcType=INTEGER}, #{balance,jdbcType=REAL}, #{costtype,jdbcType=INTEGER}, 
      #{amount,jdbcType=REAL}, #{costdes,jdbcType=VARCHAR}, #{costdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.Cost">
    insert into cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountid != null">
        AccountID,
      </if>
      <if test="balance != null">
        Balance,
      </if>
      <if test="costtype != null">
        CostType,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="costdes != null">
        CostDes,
      </if>
      <if test="costdate != null">
        CostDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountid != null">
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=REAL},
      </if>
      <if test="costtype != null">
        #{costtype,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=REAL},
      </if>
      <if test="costdes != null">
        #{costdes,jdbcType=VARCHAR},
      </if>
      <if test="costdate != null">
        #{costdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>