<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="domain.Users">
    <result column="wechatid" jdbcType="VARCHAR" property="wechatid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="usertype" jdbcType="INTEGER" property="usertype" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="buildid" jdbcType="INTEGER" property="buildid" />
    <result column="roomid" jdbcType="INTEGER" property="roomid" />
  </resultMap>

  <sql id="Base_Column_List">
    wechatid, userid, usertype, username, buildid, roomid
  </sql>

  <select id="loginById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users
    where wechatid = #{wechatid,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="domain.Users">
    insert into users (wechatid, userid, usertype,
      username, buildid, roomid
      )
    values (#{wechatid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{usertype,jdbcType=INTEGER},
      #{username,jdbcType=VARCHAR}, #{buildid,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wechatid != null">
        wetchatid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="buildid != null">
        buildid,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wechatid != null">
        #{wetchatid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="buildid != null">
        #{buildid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>